<%- model_class = Enterprise -%></br>
<div class="row">
    <div class="span3">
        <strong><%= model_class.human_attribute_name(:vission) %>:</strong></br></br>
        <p class="mvParagrhap"><%= @enterprise.vission %></br></br></p>
    </div>
</div> 
<div class="row">
    <div class="span3">
        <strong><%= model_class.human_attribute_name(:mision) %>:</strong></br></br>
        <p class="mvParagrhap"><%= @enterprise.mision %>
    </div>
</div>